<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >



        <activity android:name=".Presentation.Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Presentation.FirstPageAfterLogin.AdminActivity">
        </activity>

        <activity
            android:name=".Presentation.FirstPageAfterLogin.SupervisorActivity"
            android:exported="true"/>

        <activity
            android:name=".Presentation.SecondPageOfAdmin.correspondingAllSitesActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Presentation.FirstPageAfterLogin.AdminActivity">
        </activity>

        <activity
            android:name=".Presentation.SecondPageOfAdmin.Menu.AddSiteActivity"
            android:parentActivityName=".Presentation.FirstPageAfterLogin.AdminActivity"/>

        <activity
            android:name=".Presentation.SecondPageOfAdmin.Menu.AddMemberActivity"
            android:label="@string/addMember"
            android:parentActivityName=".Presentation.FirstPageAfterLogin.AdminActivity" />

        <activity
            android:name=".Presentation.WorkActivities.PDFViewerActivity"
            android:parentActivityName=".sitereport" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.constructionapp1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".Presentation.SecondPageOfAdmin.Menu.EngineerDeletePageActivity"
            android:label="@string/engineer"
            android:launchMode="singleTask"
            android:parentActivityName=".Presentation.FirstPageAfterLogin.AdminActivity" />

        <activity android:name=".Presentation.FirstPageAfterLogin.engineerassignedCityActivity"
            android:exported="true"/>
        <activity android:name=".Presentation.eachSiteInEngineerActivity" />

        <activity android:name=".Presentation.WorkActivities.LaborActivity" />

        <activity
            android:name=".sitereport"
            android:configChanges="keyboard|orientation|screenSize" />

        <activity android:name=".Presentation.WorkActivities.EquipmentActivity"
            android:label="Equipment Info"/>

        <activity android:name=".Presentation.WorkActivities.ToDoListActivity" />

        <activity android:name=".Presentation.WorkActivities.RequirementActivity" />




        <activity
            android:name=".Pipeline_settings.city"
            android:launchMode="singleTask" />
        <activity
            android:name=".Pipeline_settings.namewithprogress"
            android:launchMode="singleTask" />
        <activity
            android:name=".Pipeline_settings.Table"
            android:label="Today" />
        <activity android:name=".Pipeline_settings.Uptodate_Table"
            android:label="UpToDate"/>

    </application>

</manifest>